Repository rizinorg/cutter, pull requests merged in 2020-08, with the labels that each got.

#2356 Create minimal widows CMake build job.
  .github/workflows/ccpp.yml
Labels: CI, Windows

#2345 Add symbol exports.
  src/CMakeLists.txt
  src/Cutter.pro
  src/cmake/BundledRadare2.cmake
  src/common/AddressableItemModel.cpp
  src/common/AddressableItemModel.h
  src/common/AsyncTask.h
  src/common/CommandTask.h
  src/common/Configuration.h
  src/common/CutterSeekable.h
  src/common/Decompiler.h
  src/common/Helpers.h
  src/common/HexAsciiHighlighter.cpp
  src/common/HexAsciiHighlighter.h
  src/common/HexHighlighter.cpp
  src/common/HexHighlighter.h
  src/common/SyntaxHighlighter.h
  src/common/TempConfig.h
  src/core/Cutter.h
  src/core/MainWindow.cpp
  src/core/MainWindow.h
  src/dialogs/R2TaskDialog.h
  src/menus/AddressableItemContextMenu.h
  src/menus/DisassemblyContextMenu.h
  src/meson.build
  src/plugins/CutterPlugin.h
  src/widgets/BoolToggleDelegate.h
  src/widgets/ComboQuickFilterView.h
  src/widgets/CutterDockWidget.h
  src/widgets/CutterTreeView.h
  src/widgets/CutterTreeWidget.h
  src/widgets/HexdumpWidget.h
  src/widgets/ListDockWidget.h
  src/widgets/MemoryDockWidget.h
  src/widgets/QuickFilterView.h
Labels: Build System, Plugin

#2351 Display jumping fix useless decompilation
  src/core/Cutter.cpp
  src/core/Cutter.h
  src/widgets/DecompilerWidget.cpp
  src/widgets/DecompilerWidget.h
  src/widgets/DisassemblerGraphView.cpp
  src/widgets/DisassemblyWidget.cpp
  src/widgets/DisassemblyWidget.h
  src/widgets/HexdumpWidget.cpp
Labels: Decompiler

#2359 Prevent potential crash when opening theme editor dialog.
  src/dialogs/preferences/ColorThemeEditDialog.cpp
Labels: BUG

#2360 Refactor old style macro based signal connect.
  src/core/MainWindow.cpp
  src/dialogs/AsyncTaskDialog.cpp
  src/dialogs/AttachProcDialog.cpp
  src/dialogs/EditInstructionDialog.cpp
  src/dialogs/EditVariablesDialog.cpp
  src/dialogs/InitialOptionsDialog.cpp
  src/dialogs/R2TaskDialog.cpp
  src/dialogs/XrefsDialog.cpp
  src/dialogs/preferences/AsmOptionsWidget.cpp
  src/dialogs/preferences/GraphOptionsWidget.cpp
  src/dialogs/preferences/PreferencesDialog.cpp
  src/menus/DisassemblyContextMenu.cpp
  src/widgets/ConsoleWidget.cpp
  src/widgets/Dashboard.cpp
  src/widgets/DecompilerWidget.cpp
  src/widgets/DisassemblerGraphView.cpp
  src/widgets/DisassemblyWidget.cpp
  src/widgets/FlagsWidget.cpp
  src/widgets/FunctionsWidget.cpp
  src/widgets/Omnibar.cpp
  src/widgets/OverviewView.cpp
  src/widgets/OverviewWidget.cpp
  src/widgets/RegisterRefsWidget.cpp
  src/widgets/ResourcesWidget.cpp
  src/widgets/StackWidget.cpp
  src/widgets/StringsWidget.cpp
  src/widgets/TypesWidget.cpp
  src/widgets/VTablesWidget.cpp
  src/widgets/VisualNavbar.cpp
Labels: Qt, Refactoring

#2368 Fix an off by 1 bug during hexwidget cursor blinking.
  src/widgets/HexWidget.cpp
Labels: BUG

#2376 Output colors in rgb:nnnnnn format instead of #nnnnnn.
  src/common/ColorThemeWorker.cpp
Labels: BUG

#2377 Add examples for how not to use signals.
  docs/source/contributing/code/development-guidelines.rst
Labels: Documentation

#2338 Adjust r2 paths (Fix r2dec misssing from release package)
  .appveyor.yml
  build.bat
  prepare_r2.bat
  scripts/appveyor_r2ghidra.sh
  scripts/bundle_r2dec.ps1
  src/CutterApplication.cpp
  src/lib_radare2.pri
Labels: Build System

#2390 Get rid of circular include between Cutter.h and CutterPlugin.h
  src/core/Cutter.h
  src/core/MainWindow.cpp
  src/menus/AddressableItemContextMenu.h
  src/menus/DisassemblyContextMenu.h
  src/plugins/CutterPlugin.h
  src/plugins/PluginManager.cpp
  src/plugins/PluginManager.h
Labels: Refactoring

#2337 Add large bin foreground analysis issue
  docs/source/user-docs/common-issues.rst
Labels: Documentation

#2410 Save layout of the Decompiler Widgets
  src/core/MainWindow.cpp
  src/widgets/DecompilerWidget.cpp
  src/widgets/DecompilerWidget.h
Labels: BUG, Decompiler

#2406 CMake windows python packaging
  .appveyor.yml
  .github/workflows/ccpp.yml
  docs/source/building.rst
  scripts/bundle_python.ps1
  scripts/fetch_deps.sh
  src/CMakeLists.txt
  src/bindings/src_list.py
  src/cmake/FindShiboken2.cmake
  src/cmake/Packaging.cmake
  src/cmake/WindowsBundlePython.cmake
  src/cmake/WindowsBundleQt.cmake
Labels: Build System, Windows

#2409 Create SyntaxHighlighter based on RAnnotatedCode.
  src/Cutter.pro
  src/common/Configuration.cpp
  src/common/Configuration.h
  src/common/DecompilerHighlighter.cpp
  src/common/DecompilerHighlighter.h
  src/dialogs/preferences/AppearanceOptionsWidget.cpp
  src/dialogs/preferences/AppearanceOptionsWidget.ui
  src/widgets/DecompilerWidget.cpp
  src/widgets/DecompilerWidget.h
Labels: Decompiler

#2394 User documentation for the new decompiler
  docs/source/images/decompiler_vs_disassembly.png
  docs/source/user-docs.rst
  docs/source/user-docs/features.rst
  docs/source/user-docs/menus/decompiler-context-menu.rst
Labels: Decompiler, Documentation

#2412 Handle non ASCII characters in decompiler widget.
  src/widgets/DecompilerWidget.cpp
Labels: Decompiler
